body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.squarespace-cdn.com/content/v1/5c930254d74562c08802f8ed/1586947051528-EZ4Y2CT1G2ROA81VJU0M/ke17ZwdGBToddI8pDm48kBY-qbJWPsJyl0YWCpcFDbUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drFc4DJDfZCKOzhUjt1ZvzpGZRspCr0OR63EIejbUx4HCjLISwBs8eEdxAxTptZAUg/money+magnet+masterclass+background+%282%29-min.png?format=2500w');
    opacity: 200%;
  }
  #starting {
    background-color: rgb(192, 221, 220);
    overflow: hidden;
}

img{
    margin-left: 7%;
    width: 20%;
    height: 40%;
    object-fit: contain;
}

iframe{
    
    margin-left: 7%;
    width: 40%;
    height: 40%;
    object-fit: contain;
}

li{
    font-weight: 700;
    font-size: 15px;
    color: rgb(7, 88, 28);
    margin-left: 7%;
    margin-right: 5%;
}

#starting a {
    float: left;
    color: #a04343;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

#starting a:hover {
    background-color: #ddd;
    color: rgb(1, 25, 26);
  }

#starting a.active {
    background-color:rgb(152, 153, 153);
    color: white;
}

  .logo{
    margin-left: 3%;
    width: 10%;
    height: 13%;
}

h1{
    font-weight: 900;
    font-size: 40px;
    font-variant: small-caps;
    margin-left: 100px;
    color: rgb(6, 110, 136);
}

h2{
    font-weight: 900;
    font-size: 40px;
    font-variant: small-caps;
    margin-left: 100px;
    color: rgb(248, 171, 107);
}

h4{
    font-weight: 900;
    font-size: 25px;
    font-variant: small-caps;
    margin-left: 100px;
    color: rgb(37, 35, 33);
}
.quote{
    font-size: 65%;
    color: rgba(214, 117, 7, 0.76);
    font-weight: 800;
}

.sc{
    margin-left: 17%;
}

.cd{
    float: right;
    width: 52%;
    height: 300px;
    margin-left: 100px;
}
.scc{
    float: left;
    width: 40%;
}

h3{
    font-weight: 800;
    font-size: 30px;
    margin-left: 100px;
    font-variant: small-caps;
    color: rgb(71, 16, 16); 
}

p{
    font-weight: 700;
    font-size: 15px;
    color: rgb(7, 88, 28);
    margin-left: 7%;
    margin-right: 5%;
    
}

.inner{
    margin-left: 7%;
    width: 5%;
    height: 7%;
    object-fit: contain;
}



